@import '../../styles/settings.scss';

.card {
    position: relative;
    background: $color-light;
    border: 1px solid lighten($color-dark, 60%);
    padding: $base-size;
    margin: 0 0 $base-size 0;
    border-radius: $radius;
    display: flex;
    justify-content: space-between;
    font-weight: bold;
}

.star {
    background-color: transparent;
    outline: none;
    border: none;
    transition: 0.1s;
}

.star:hover {
scale: 1.4;
cursor: pointer;
}

.active{
    color: gold;
}

.trash{
    background-color: transparent;
    outline: none;
    border: none;
    transition: 0.1s;
}

.trash:hover{
color: grey;
scale: 1.4;
cursor: pointer;
}