@use "sass:math";
@import '../../styles/settings.scss';

.hero {
    padding: $base-size;
  }
  

  .cards {
    max-width: 600px;
    padding: math.div($base-size, 2) 0;
    flex-shrink: 0;
    background: $color-light;
    margin: 0 auto;
    padding: ($base-size * 2);
    border-radius: $radius;
    box-shadow: 0 math.div($base-size, 4) 0 rgba(0,0,0,0.3);
    color: $color-dark;
    
  }

.title {
    padding: ($base-size * 3) 0;
    text-align: center;
    font-size: ($base-size * 3);
    text-transform: uppercase;
  }

.subtitle {
    padding: ($base-size * 2) 0;
    text-align: center;
    font-size: ($base-size * 2);
    font-style: italic;
    font-weight: normal;
    margin-top: (- $base-size * 3);
  }

  .no_cards{
    padding: ($base-size * 3) 0;
    font-size: ($base-size * 3);
    text-transform: uppercase;
  }