@import '../../styles/settings.scss';

.nav {
    background: darken($color-dark, 3%);

    padding: $base-size;
}

.container{
    max-width: 1200px;
    display:flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}

.logo { 
    font-size:24px;
}

.menu .link{
    display: inline;
    margin: 0 10px;
}

.link a{
    text-decoration: none;
    color: white;
    font-weight: bold;
}
